
.volumeSlider {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translate(50%, -50%);
    width: 100px;
    height: 60vh;
    background-color: #1a191bc7;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(156, 152, 177, 0.3);

    user-select: none; 
    cursor: pointer;
    overflow: hidden;
}
  
.sliderBar {
    width:100px; 
    height: 80vh;
}
.sliderRange {
    display: none;
}

.sliderPath {
    fill: rgba(214, 169, 255, 0.89);
}

.sound-icon{
    height: 41px;
    position: absolute;
    transform: translateY(50%) translateX(50%);
    bottom: 8%;
    right: 50%;
}
