.deviceContainer {
    position: absolute;
    background: transparent;
    border: none !important;
    right: 50px;
    bottom: 50px;
    height: 100px;
    display: flex;
    text-align: center;
}

.deviceName {
    margin: auto auto auto 10px;
    color: rgb(255, 255, 255);

    /* color: rgb(96, 88, 122); */
    font-size: 1.8rem;
    flex-shrink: 0;
}

.deviceBar {
    width: 7px;
    height: 20px;
    border-radius: 2.5px;
    background-color: rgb(255, 235, 144);

    /* background-color: rgb(154, 142, 182); */
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: 35px;
    /* margin: auto; */
}
  
.barsContainer {
    display: flex;
}