.Header {
  position: absolute;
  background: transparent;
  border-width: 0;

  display: flex;
  height: 10%;
  z-index: 1;
}

.logo {
  height: 150px;
  margin: 1% auto auto 1%;
}

.contentContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin: auto; */
  transform: translate(-50%, -50%);

}
.MMIContainer {
  /* background-color: #6c6192; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 900px;
  display: flex;
  z-index: 0;
  text-align: center;
}

.navDVPRBtn {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: blue;
}