

.BackgroundHolder {
  background-image: linear-gradient(135deg, rgb(89, 52, 114), rgb(11, 13, 83));
  height: 100vh;
  width: 100vw;
}

.Header {
  position: absolute;
  display: flex;
  height: 10%;
  width: 100%;
  z-index: 1;
}

.logo {
  height: 150px;
  margin: 2% auto auto 2%;
}

.MMIContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 0;
  text-align: center;
}

#skipBackwardBtn {
  margin: auto 5% auto auto;
  width: 200px;
  height: 200px;
  background-color: white;
}

/* Play / Pause Button */
#playPauseBtn {
  position: relative;
  margin: auto 0 auto 0;
  border-radius: 200px;
  border-width: 0;
  width: 250px;
  height: 250px;
  background-color: white;
}

/* Play / Pause Symbol */

.PPContainer {
  position: absolute;
  top: 27px;
  left: 31px;  
}

.PPSymbol {
  fill: #343434;
  stroke-width: 35;
  stroke: #343434;
  stroke-linejoin: round;
  stroke-linecap:round;
}

/* Skip Forward Button */

#skipForwardBtn {
  margin: auto auto auto 5%;
  width: 200px;
  height: 200px;
  background-color: white;
}